<template>
  <div
    class="flex justify-between items-center p-3 border-2 border-red-300 bg-red-100 opacity-75 text-red-600 font-semibold rounded-md"
    role="alert"
  >
    <slot />

    <button
      v-if="closable"
      class="outline-none hover:text-red-900"
      type="button"
      @click="$emit('close')"
    >
      <icn-times class="fill-current" width="24" height="24" />
    </button>
  </div>
</template>

<script>
import IcnTimes from '~/components/IcnTimes'

export default {
  name: 'AppAlert',

  components: {
    IcnTimes
  },

  props: {
    closable: {
      type: Boolean,
      default: false
    }
  }
}
</script>
