<template>
  <img :src="url">
</template>

<script>
const sample = (arr) => arr[Math.floor(Math.random() * arr.length)]

export default {
  name: 'AppAvatar',

  computed: {
    url () {
      return `https://avataaars.io/?avatarStyle=Circle&${this.topType}&${this.accessoriesType}&${this.hairColor}&${this.facialHairType}&${this.facialHairColor}&${this.clotheType}&${this.clotheColor}&${this.eyeType}&${this.eyebrowType}&${this.mouthType}&${this.skinColor}`
    },

    topType () {
      const opts = ["NoHair","Eyepatch","Hat","Hijab","Turban","WinterHat1","WinterHat2","WinterHat3","WinterHat4","LongHairBigHair","LongHairBob","LongHairBun","LongHairCurly","LongHairCurvy","LongHairDreads","LongHairFrida","LongHairFro","LongHairFroBand","LongHairNotTooLong","LongHairShavedSides","LongHairMiaWallace","LongHairStraight","LongHairStraight2","LongHairStraightStrand","ShortHairDreads01","ShortHairDreads02","ShortHairFrizzle","ShortHairShaggyMullet","ShortHairShortCurly","ShortHairShortFlat","ShortHairShortRound","ShortHairShortWaved","ShortHairSides","ShortHairTheCaesar","ShortHairTheCaesarSidePart"]
      return `topType=${sample(opts)}`
    },

    accessoriesType () {
      const opts = ["Blank", "Kurt", "Prescription01", "Prescription02", "Round", "Sunglasses", "Wayfarers"]
      return `accessoriesType=${sample(opts)}`
    },

    hairColor () {
      const opts = ["Auburn", "Black", "Blonde", "BlondeGolden", "Brown", "BrownDark", "PastelPink", "Platinum", "Red", "SilverGray"]
      return `hairColor=${sample(opts)}`
    },

    facialHairType () {
      const opts = ["Blank","BeardMedium","BeardLight","BeardMajestic","MoustacheFancy","MoustacheMagnum"]
      return `facialHairType=${sample(opts)}`
    },

    facialHairColor () {
      const opts = ["Auburn","Black","Blonde","BlondeGolden","Brown","BrownDark","Platinum","Red"]
      return `facialHairColor=${sample(opts)}`
    },

    clotheType () {
      const opts = ["BlazerShirt","BlazerSweater","CollarSweater","GraphicShirt","Hoodie","Overall","ShirtCrewNeck","ShirtScoopNeck","ShirtVNeck"]
      return `clotheType=${sample(opts)}`
    },

    clotheColor () {
      const opts = ["Black","Blue01","Blue02","Blue03","Gray01","Gray02","Heather","PastelBlue","PastelGreen","PastelOrange","PastelRed","PastelYellow","Pink","Red","White"]
      return `clotheColor=${sample(opts)}`
    },

    eyeType () {
      const opts = ["Close","Cry","Default","Dizzy","EyeRoll","Happy","Hearts","Side","Squint","Surprised","Wink","WinkWacky"]
      return `eyeType=${sample(opts)}`
    },

    eyebrowType () {
      const opts = ["Angry","AngryNatural","Default","DefaultNatural","FlatNatural","RaisedExcited","RaisedExcitedNatural","SadConcerned","SadConcernedNatural","UnibrowNatural","UpDown","UpDownNatural"]
      return `eyebrowType=${sample(opts)}`
    },
    
    mouthType () {
      const opts = ["Concerned","Default","Disbelief","Eating","Grimace","Sad","ScreamOpen","Serious","Smile","Tongue","Twinkle","Vomit"]
      return `mouthType=${sample(opts)}`
    },

    skinColor () {
      const opts = ["Tanned","Yellow","Pale","Light","Brown","DarkBrown","Black"]
      return `skinColor=${sample(opts)}`
    }
  }
}
</script>