<template>
  <button
    class="px-5 py-2 lowercase rounded-lg transition-all duration-300 ease"
    :class="variantClasses"
  >
    <slot />
  </button>
</template>

<script>
const VARIANTS = ['primary', 'secondary']

export default {
  name: 'AppButton',

  props: {
    variant: {
      type: String,
      default: 'primary',
      validator: (val) => VARIANTS.includes(val)
    }
  },

  computed: {
    variantClasses () {
      return {
        primary: 'bg-green-500 hover:bg-green-700 text-white',
        secondary: 'border-2 border-green-500 text-green-500 hover:bg-green-100'
      }[this.variant]
    }
  }
}
</script>