<template>
  <label class="flex flex-col" :for="name">
    <span class="mb-1 text-sm lowercase">{{ label }}</span>
    
    <input
      class="mb-1 text-base p-2 rounded-lg border-2 active:border-green-500 focus:border-green-500 outline-none transition-border duration-300 ease"
      :class="[errorClass]"
      :name="name"
      :placeholder="placeholder"
      :type="type"
      :value="value"
      @input="e => $emit('input', e.target.value)"
    />

    <span v-if="error" class="text-red-500 text-sm">
      {{ error }}
    </span>
  </label>
</template>

<script>
export default {
  name: 'AppInput',

  props: {
    error: {
      type: String,
      default: ''
    },
    label: {
      type: String,
      required: true
    },
    name: {
      type: String,
      required: true
    },
    placeholder: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: 'text'
    },
    value: {
      type: String,
      default: ''
    }
  },

  computed: {
    errorClass () {
      return this.error ? 'border-red-400' : ''
    }
  } 
}
</script>