<template>
  <nuxt-link
    class="font-semibold text-green-500 hover:text-green-700 hover:underline transition-all duration-300 ease"
    :to="to"
  >
    <slot />
  </nuxt-link>
</template>

<script>
export default {
  name: 'AppLink',

  props: {
    to: {
      type: String,
      required: true
    }
  }
}
</script>