<template>
  <app-card>
    <h1 class="mb-8 text-4xl font-extrabold">profile</h1>

    <div v-if="alertText">
      <div class="rounded-full border-2 border-red-300 bg-red-100 text-red-400 w-min">
        <icn-times class="fill-current" width="64" height="64" />
      </div>

      <app-alert class="mt-5">
        {{ alertText }}
      </app-alert>
    </div>

    <div v-else class="flex justify-between">
      <app-avatar class="w-1/3" />

      <div class="mt-2 w-1/2">
        <p class="text-sm lowercase text-gray-400">Username</p>
        <p class="text-2xl font-semibold">{{ user.username }}</p>

        <p class="mt-4 text-sm lowercase text-gray-400">Email</p>
        <p class="text-2xl font-semibold">{{ user.email }}</p>
      </div>
    </div>
  </app-card>
</template>

<script>
import { mapActions } from 'vuex'
import AppCard from '~/components/AppCard'
import AppAvatar from '~/components/AppAvatar'
import AppAlert from '~/components/AppAlert'
import IcnTimes from '~/components/IcnTimes'

export default {
  components: {
    AppAlert,
    AppAvatar,
    AppCard,
    IcnTimes
  },

  async asyncData ({ params, store, redirect }) {
    if (!store.state.token) {
      redirect('/sign-up')
    }

    try {
      const user = await store.dispatch('getUser', params.id)
      return { user }
    }
    catch (err) {
      return { alertText: err.response.data }
    }
  },

  data () {
    return {
      alertText: ''
    }
  },

  computed: {
    errorMessage () {
      return `${this.alertText}`
    }
  },

  methods: {
    ...mapActions(['getUser'])
  }
}
</script>