<template>
  <div class="p-8 h-screen bg-gray-50 dark:bg-midnight text-gray-700">
    <div class="max-w-screen-xl m-auto">
      <transition name="fade">
        <nuxt />
      </transition>
    </div>
  </div>
</template>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
</style>