<template>
  <app-card>
    <form @submit.prevent="handleSubmit">
      <h1 class="mb-8 text-4xl font-extrabold">sign-in</h1>

      <app-alert
        v-if="alertText"
        class="mb-5"
        closable
        @close="closeAlert"
      >
        {{ alertText }}
      </app-alert>
      
      <app-input
        v-model="form.email"
        class="mb-5"
        type="email"
        label="Email"
        name="email"
        :error="errors.email"
      />
      <app-input
        v-model="form.password"
        class="mb-5"
        type="password"
        label="Password"
        name="password"
        :error="errors.password"
      />

      <div class="mb-8 flex justify-between">
        <app-button variant="secondary" type="reset">Clear</app-button>
        <app-button variant="primary" type="submit">Sign-in</app-button>
      </div>

      <div class="align-center">
        Not an user? <app-link to="/sign-up">Sign-up</app-link> now.
      </div>
    </form>
  </app-card>
</template>

<script>
import { mapActions } from 'vuex'
import {
  alphaNum,
  email,
  lenBetween,
  required,
  validate
} from '~/validation'
import AppAlert from '~/components/AppAlert'
import AppButton from '~/components/AppButton'
import AppCard from '~/components/AppCard'
import AppInput from '~/components/AppInput'
import AppLink from '~/components/AppLink'

export default {
  components: {
    AppAlert,
    AppButton,
    AppCard,
    AppInput,
    AppLink
  },

  data () {
    return {
      form: {
        email: '',
        password: ''
      },
      errors: {},
      alertText: ''
    }
  },

  validations: {
    form: {
      email: [required, email],
      password: [required, alphaNum, lenBetween(8, 32)],
    }
  },

  methods: {
    ...mapActions(['login']),

    isValid () {
      this.errors = validate(this.$options.validations.form, this.form)

      return this.errors.isValid;
    },

    async handleSubmit () {
      try {
        if (!this.isValid()) {
          return;
        }

        const id = await this.login(this.form)
        this.$router.push(`/users/${id}`)
      }
      catch (err) {
        this.alertText= err.response.data
      }
    },

    closeAlert () {
      this.alertText = ''
    }
  }
}
</script>